#!/bin/bash

export KEY_COUNTRY="{{ openvpn_key_country }}"
export KEY_PROVINCE="{{ openvpn_key_city }}"
export KEY_CITY="{{ openvpn_key_city }}"
export KEY_ORG="{{ openvpn_key_org }}"
export KEY_EMAIL="{{ openvpn_email }}"
export KEY_OU="{{ openvpn_key_ou }}"
export KEY_NAME="{{ openvpn_server }}"
export KEY_DIR="{{ openvpn_rsa_ca_dir }}"

export EASY_RSA="`pwd`"
export KEY_DIR="$EASY_RSA/keys"
export KEY_CONFIG="$EASY_RSA/openssl-1.0.0.cnf"

export OPENSSL="openssl"
export PKCS11TOOL="pkcs11-tool"
export GREP="grep"
export PKCS11_MODULE_PATH="dummy"
export PKCS11_PIN="dummy"
export KEY_SIZE=2048
export CA_EXPIRE=3650
export KEY_EXPIRE=3650
